.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


# Node dependencies & Vite build
node_modules/
dist/
build/
.svelte-kit/

# Rust / Cargo build outputs
src-tauri/target/

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log